<section>
  <div class="container">
    <picture>
      <source
        srcset="
          /img/hero/hero-img-desk.png   1x,
          /img/hero/hero-img-desk@2.png 2x
        "
        media="(min-width: 1158px)"
      />
      <source
        srcset="
          /img/hero/hero-img-desk.png   1x,
          /img/hero/hero-img-desk@2.png 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="/img/hero/hero-img-mob.png 1x, /img/hero/hero-img-mob@2.png 2x"
        media="(max-width: 767px)"
      />
      <img src="/img/hero/hero-img-mob.png" alt="portfolio pictxure" />
    </picture>
  </div>
</section>
