<section class="hero" id="hero">
  <div class="container">
    <picture>
      <source
        srcset="
          /img/hero/hero-img-desk.jpg   1x,
          /img/hero/hero-img-desk@2x.jpg 2x
        "
        media="(min-width: 1158px)"
        width=""
      />
      <source
        srcset="
          /img/hero/hero-img-tab.jpg   1x,
          /img/hero/hero-img-tab@2x.jpg 2x
        "
        media="(min-width: 768px)"
        width=""
      />
      <source
        srcset="/img/hero/hero-img-mob.jpg 1x, 
        /img/hero/hero-img-mob@2x.jpg 2x"
        media="(max-width: 767px)"
        width=""
      />
      <img src="/img/hero/hero-img-mob.jpg" alt="" />
    </picture>
  </div>
</section>
